__pycache__/
*.pyc
*.pyo
*.pyd

.Python
.env
.venv
env/
venv/
ENV/

.idea/
.vscode/
*.swp
*.pth

models/*.pth


data/celeba/*
data/synthetic/*
!data/synthetic/.gitkeep

data/quality_images/*
!data/quality_images/.gitkeep

data/attributes_detected/*
!data/attributes_detected/.gitkeep

